@import '../../styles/variables';

.note {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 250px;
  padding: 7px;

  border-radius: 5px;
  box-shadow: 8px -8px 5px -5px $darker-quick-silver;

  transition: $transition;

  &:hover {
    transform: scale(1.1);
  }

  &__text-wrapper {
    height: 100%;
    overflow: auto;

    word-break: break-all;
    cursor: pointer;
  }
}