@import '../../styles/variables';

.btn {
  padding: 7px 15px;

  font-size: medium;
  color: $isabelline;
  
  cursor: pointer;

  background-color: $quick-silver;
  border: none;
  border-radius: 5px;

  transition: $transition;

  &:hover {
    background-color: $darker-quick-silver;

    transform: scale(1.03);
  }
}