@import '../styles/mixins';
@import '../styles/variables';

.btns {
  display: flex;
  gap: .5rem;
}

.filter {
  @include btn;
  
  outline: none;

  &:focus {
    background-color: $darker-quick-silver;

    transform: scale(1.03);
  }
}